.login_container {
  width: 30%;
  height: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.buttons_container{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

/* .main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 3rem;
}

/* input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 94%;
  padding: 10px;
  margin-bottom: 1rem;
  background: none;
  border: none;
  border-bottom: 1.5px solid var(--davys-gray);
} */
.input:focus {
  outline: 1px solid #646cff;
  border: none;
  color: #646cff;
}
.input:focus::placeholder {
  color: #646cff;
}

::placeholder {
  color: var(--cadet-gray);
}
.red_placeholder::placeholder {
  color: var(--red);
  font-weight: 600;
}
.red_placeholder {
  color: var(--red);
  border: 1.5px solid var(--red);
}

.input_error {
  color: var(--red);
  border: 1.5px solid var(--red);
}

.login_btn {
  margin-top: 3rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.register_link {

  padding-top: 10px;
}
.register_link:hover {
  color: #646cff;
}

.error {
  color: var(--red);
  font-weight: 600;
}

.date_container:focus {
  outline: none;
  border: none;
}

.error_date:focus {
  border: none;
  outline: none;
}
.error_date,
.date_container {
  border: none;
  outline: none;
}

.error_date::-webkit-datetime-edit-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
  color: red;
  font-weight: 800;
}
.date_container::-webkit-datetime-edit-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
  color: white;
  font-weight: 800;
}
.error_date::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(25%) sepia(51%) saturate(4922%)
    hue-rotate(347deg) brightness(80%) contrast(114%);
}





